{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<footer>
    <nav id="footer-nav">
        <div>
            <h3>Pesho</h3>
            <ul>
                <li>
                    <a href="#">gosho</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Pesho</h3>
            <ul>
                <li>
                    <a href="#">gosho</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Pesho</h3>
            <ul>
                <li>
                    <a href="#">gosho</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>