{% load static %}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<nav id="navigation">
    <div>
        <ul>
            <li>
                <a href="{% url 'index' %}">
                    Home
                </a>
                {% if user.is_superuser %}
                    </li>
                    <li>
                        <a href="/admin">
                            Admin
                        </a>
                    </li>
                {% endif %}
            <li>
                <a href="{% url 'phones' %}">
                    Phones
                </a>

            {% if not user.is_superuser %}
            <li>
                <a href="{% url 'add phone' %}">
                    Add Phone
                </a>

            </li>
            {% endif %}

            {% if user.is_authenticated %}


                <li>
                    <a href="{% url 'user logout' %}">
                        Logout
                    </a>

                </li>
                <li>
                    <a href="{% url 'user profile' %}">
                        Profile
                    </a>

                </li>
                <li>
                    <a>
                        Hello {{ user.username }} !

                    </a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'login' %}">
                        Login
                    </a>

                </li>
                {% if user %}

                {% endif %}
                <li>
                    <a href="{% url 'register user' %}">
                        Register
                    </a>

                </li>

            {% endif %}


        </ul>
    </div>
</nav>